[Desktop Entry]
Name=Axentra
NoDisplay=true
MimeType=x-scheme-handler/axentra;
TryExec=axentra
Exec=axentra %u
Icon=axentra
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=axentra

